USE [master]
GO
/****** Object:  Database [ClinicaDatabaseV2]    Script Date: 22/11/2021 15:09:54 ******/
CREATE DATABASE [ClinicaDatabaseV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClinicaDatabaseV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ClinicaDatabaseV2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClinicaDatabaseV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ClinicaDatabaseV2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicaDatabaseV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicaDatabaseV2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22/11/2021 15:09:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudios]    Script Date: 22/11/2021 15:09:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoEstudio] [int] NOT NULL,
 CONSTRAINT [PK_Estudios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 22/11/2021 15:09:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Matricula] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
	[Apellido] [nvarchar](30) NOT NULL,
	[Especialidad] [int] NOT NULL,
 CONSTRAINT [PK_Medicos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 22/11/2021 15:09:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
	[Apellido] [nvarchar](30) NOT NULL,
	[FechaDeNacimiento] [datetime2](7) NOT NULL,
	[ObraSocial] [nvarchar](15) NOT NULL,
	[NroAfiliado] [int] NOT NULL,
	[Telefono] [nvarchar](max) NOT NULL,
	[CorreoElectronico] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Pacientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TurnoConsultaMedica]    Script Date: 22/11/2021 15:09:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TurnoConsultaMedica](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[DiasDisponibles] [int] NOT NULL,
	[HorasDisponibles] [int] NOT NULL,
	[IdMedico] [int] NOT NULL,
	[FechaConsultaMedica] [nvarchar](max) NULL,
	[DocumentoPaciente] [int] NOT NULL,
 CONSTRAINT [PK_TurnoConsultaMedica] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TurnoPracticaMedica]    Script Date: 22/11/2021 15:09:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TurnoPracticaMedica](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[DiasDisponibles] [int] NOT NULL,
	[HorasDisponibles] [int] NOT NULL,
	[IdPracticaMedica] [int] NOT NULL,
	[FechaConsultaMedica] [nvarchar](max) NULL,
	[DocumentoPaciente] [int] NOT NULL,
 CONSTRAINT [PK_TurnoPracticaMedica] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211109160843_mnh_Proyecto.V2.Context.ClinicaDatabaseV2Context', N'3.1.19')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211109224220_mnh_Proyecto.V2.Context.ClinicaDatabaseV2Context02', N'3.1.20')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211121234315_mnh_Proyecto.V2.Context.ClinicaDatabaseV2Context03', N'3.1.21')
GO
SET IDENTITY_INSERT [dbo].[Medicos] ON 

INSERT [dbo].[Medicos] ([Id], [Matricula], [Nombre], [Apellido], [Especialidad]) VALUES (4, 111112, N'Ana', N'Diaz', 0)
INSERT [dbo].[Medicos] ([Id], [Matricula], [Nombre], [Apellido], [Especialidad]) VALUES (5, 1123343, N'Pablo', N'Smith', 1)
INSERT [dbo].[Medicos] ([Id], [Matricula], [Nombre], [Apellido], [Especialidad]) VALUES (6, 1123211, N'Adriana', N'Sosa', 2)
SET IDENTITY_INSERT [dbo].[Medicos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pacientes] ON 

INSERT [dbo].[Pacientes] ([Id], [Documento], [Nombre], [Apellido], [FechaDeNacimiento], [ObraSocial], [NroAfiliado], [Telefono], [CorreoElectronico]) VALUES (1, 36528288, N'matias', N'heredia', CAST(N'2021-11-03T18:45:00.0000000' AS DateTime2), N'432432432432432', 111111, N'01158136794', N'm.heredia92@gmail.com')
INSERT [dbo].[Pacientes] ([Id], [Documento], [Nombre], [Apellido], [FechaDeNacimiento], [ObraSocial], [NroAfiliado], [Telefono], [CorreoElectronico]) VALUES (4, 36528282, N'jorge', N'diaz', CAST(N'2021-11-04T19:49:00.0000000' AS DateTime2), N'4324324324324', 1111112, N'123456', N'1234@gmail.com')
INSERT [dbo].[Pacientes] ([Id], [Documento], [Nombre], [Apellido], [FechaDeNacimiento], [ObraSocial], [NroAfiliado], [Telefono], [CorreoElectronico]) VALUES (5, 11111111, N'Peppa', N'Pig', CAST(N'2021-11-02T22:26:00.0000000' AS DateTime2), N'OSDE310', 123456, N'00000000', N'peppa@pig.com')
SET IDENTITY_INSERT [dbo].[Pacientes] OFF
GO
SET IDENTITY_INSERT [dbo].[TurnoConsultaMedica] ON 

INSERT [dbo].[TurnoConsultaMedica] ([Id], [IdPaciente], [DiasDisponibles], [HorasDisponibles], [IdMedico], [FechaConsultaMedica], [DocumentoPaciente]) VALUES (2, 1, 1, 4, 6, N'28/11/2021 4:00', 36528288)
INSERT [dbo].[TurnoConsultaMedica] ([Id], [IdPaciente], [DiasDisponibles], [HorasDisponibles], [IdMedico], [FechaConsultaMedica], [DocumentoPaciente]) VALUES (4, 1, 4, 0, 2, N'02/12/2021 0:00', 36528288)
SET IDENTITY_INSERT [dbo].[TurnoConsultaMedica] OFF
GO
SET IDENTITY_INSERT [dbo].[TurnoPracticaMedica] ON 

INSERT [dbo].[TurnoPracticaMedica] ([Id], [IdPaciente], [DiasDisponibles], [HorasDisponibles], [IdPracticaMedica], [FechaConsultaMedica], [DocumentoPaciente]) VALUES (1, 1, 1, 0, 0, N'29/11/2021 0:00', 36528288)
SET IDENTITY_INSERT [dbo].[TurnoPracticaMedica] OFF
GO
USE [master]
GO
