@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<div class="p-5 bg-success bg-gradient text-white text-center">
    <h1 class="display-1"><strong>Clínica Heredia</strong></h1>
    <br />
    <p class="display-6"><i>Al servicio de la comunidad</i></p>
</div>
<br />
<br />
<br />
<section class="about_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2 class="text-center">
                <span class="design_dot"></span>
                Sobre Nosotros
            </h2>
        </div>
        <br />
        <br />
        <br />
        
        <div class="col-md-7 mx-auto px-0">
            <div class="img-box b2">
                <img src="~/images/about-img.png" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9 mx-auto px-0">
            <div class="detail-box">
                <br />
                <p>
                    Esse sed doloribus error ad laborum dolorem nobis? Cum, culpa? Distinctio natus excepturi fugit eveniet quasi animi ab obcaecati laudantium sit, ratione recusandae accusamus, voluptatum iste placeat. Esse, eos cumque.
                    Culpa nesciunt quia qui possimus eveniet dolore a debitis consectetur quod. Eligendi recusandae placeat soluta
                </p>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<!-- end about section -->
<!-- service section -->
<hr />
<br />


<section class="service_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2 class="text-center">
                <span class="design_dot"></span>
                Nuestros Servicios
            </h2>
            <br />

            <p class="text-center">
                Culpa nesciunt quia qui possimus eveniet dolore a debitis consectetur quod.
            </p>
            <br />
            <br />
            <br />
            
        </div>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-4 mx-auto">
                <div class="box">
                    <img src="~/images/s1.png" alt="" class="img-fluid" />
                    <h4 class="text-left  ">Cardiología</h4>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="box">
                    <img src="~/images/s2.png" alt="" class="img-fluid" />
                    <h4 class="text-left">Diagnósticos</h4>

                </div>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-4 mx-auto">
                <div class="box">
                    <img src="~/images/s3.png" alt="" class="img-fluid" />
                    <h4 class="text-left">Cirugías</h4>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="box">
                    <img src="~/images/s4.png" alt="" class="img-fluid" />
                    <h4 class="text-left">Primeros Auxilios</h4>

                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="box">
                    <img src="~/images/s5.png" alt="" class="img-fluid" />
                    <h4 class="text-left">Tratamientos</h4>

                </div>
            </div>
        </div>

    </div>
    </div>
</section>



<br />
<br />